<div class="gradient">
  <div class="glass">
    <div class="content">
      <div class="header">
        <mat-form-field class="term">
          <mat-label>Procurar. Informe pelo menos 3 letras</mat-label>
          <input type="text" matInput [(ngModel)]="termo" (ngModelChange)="filterChanged()" (keydown.enter)="proximo()">
          @if (termo) {
          <button matSuffix mat-icon-button aria-label="próximo" title="Próximo" (click)="proximo()">
            <mat-icon>navigate_next</mat-icon>
          </button>
          }
        </mat-form-field>
        <mat-checkbox [(ngModel)]="recursive">Ao expandir, expandir todos os descendentes</mat-checkbox>
      </div>
      <div class="tree">
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
          <mat-nested-tree-node *matTreeNodeDef="let node" matTreeNodePadding class="item">
            <li>
              <div class="mat-tree-node leaf" [class.atencao]="node.id == searchPersonId" [attr.id]="'p-' + node.id">
                <span>
                  {{node.detalhes}}
                </span>
              </div>
            </li>
          </mat-nested-tree-node>
          <mat-nested-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
            <li class="tree-container">
              <div [attr.id]="'p-' + node.id" class="mat-tree-node pai" [class.atencao]="node.id == searchPersonId">
                  <button mat-icon-button matTreeNodeToggle [matTreeNodeToggleRecursive]="recursive"
                    [attr.aria-label]="'toggle ' + node.name">
                    <mat-icon>
                      {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                  </button>
                  <span style="cursor: pointer;" matTreeNodeToggle [matTreeNodeToggleRecursive]="recursive">
                    {{treeControl.isExpanded(node) ? node.detalhes : node.name}} ({{node.filhos.length}})
                  </span>
              </div>
              <ul class="tree-nested-node">
                <div *ngIf="treeControl.isExpanded(node)">
                  <ng-container matTreeNodeOutlet></ng-container>
                </div>
              </ul>
            </li>
          </mat-nested-tree-node>
        </mat-tree>
      </div>
    </div>
  </div>
</div>