.tree-nested-node {
    padding-left: 30px;
}

::ng-deep .mat-tree {
    margin-left: 40px;
}

.mat-tree-node {
    padding: 0;
    background-color: #5bb38d;
    border-radius: 10px;
    color: #084430;
}

.mat-tree-node.atencao {
	background-color: orange;
}


.mat-tree-node.leaf {
    padding: 0 46px;
}

.mat-nested-tree-node {
    top: -24px;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

li.tree-container {
    border-bottom: 0;
}

ul {
    padding-left: 40px;
}

li {
    padding-left: 40px;
    border: 1px dotted grey;
    border-width: 0 0 1px 1px;
    position: relative;
    top: -24px;
}

li.mat-tree-node,
li div {
    margin: 0;
    position: relative;
    top: 24px;
}

li ul {
    border-top: 1px dotted grey;
    margin-left: -40px;
    padding-left: 60px;
}

.mat-nested-tree-node:last-child ul {
    border-left: 1px dotted grey;
    margin-left: -41px;
}

.mat-tree-node.pai {
    z-index: 100;
}

.content {
    padding: 14px 18px;
    height: var(--max-content-height);
    --header-height: 70px;
}

@media (width < 700px) {
    .content {
        --header-height: 120px;
    }
}

@media (width < 700px) {
    .tree-nested-node {
        padding-left: 10px;
    }

    mat-tree {
        margin-left: 0px;
    }

    ul {
        padding-left: 13px;
    }

    li {
        padding-left: 13px;
    }

    li ul {
        margin-left: -13px;
        padding-left: 20px;
    }

    .mat-nested-tree-node:last-child ul {
        margin-left: -13px;
    }

}


.content .header {
    height: var(--header-height);
    display: unset;
}

@media (width < 700px) {
    .content .header {
        flex-direction: column-reverse;
        display: flex;
        flex-wrap: wrap;]
    }
}


.content .tree {
    overflow-y: scroll;
    max-height: calc(var(--max-content-height) - var(--header-height));
}

.content .tree .tree-inner{
    max-height: calc(var(--max-content-height) - var(--header-height));
    outline: 1 px solid red;
}


.content ::ng-deep .mat-tree {
	background-color: unset;
}

.term {
    min-width: 35ch;
    --mdc-filled-text-field-container-color: #ffffff78;
}

@media (width < 700px) {
    .term {
        min-width: 100%;
    }

}