html {
	--glass-height: 96vh;
	--max-content-height: 92vh;
	font-size: 18px;
	--mat-tree-node-text-size: 20px;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.gradient {
	min-height: 100vh;
	min-width: 100vw;
	background: linear-gradient(320deg, #165a3c, #26ad72, #7bdcb5);
	position: absolute;
}

.glass {
	height: var(--glass-height);
	width: 98vw;
	margin: 2vh 1vw;
	position: relative;

	background: rgba(255, 255, 255, 0.5);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}
